.h5 {
  padding: 1vw 0 1vw 5vw;
  background-color: #004163;
  color: white;
  font-size: 4vw;
  margin-top : 1vw;
}
.h6 {
  font-size: 3.5vw;
  align-self : top;
  padding-left : 5vw;
  margin-bottom : 0;
}
.h6bis {
  font-size: 3.5vw;
  align-self : top;
  padding-left : 5vw;
  margin-bottom : 0;
  padding-top : 2vw;
}
.input {
  font-size: 0.7rem !important;
  height: 7vw !important;
  border-top : transparent !important;
  border-left : transparent !important;
  border-right : transparent !important;
  margin-top : 0 !important;
}

.statsContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    flex: 1;
}

.rowInput {
  height: 5vw !important;
  
}

.bar {
  height: 25vw !important;
}
.bar2 {
  height: 100%;
}
.button {
    height : 7vw;
    font-size: 0.8rem !important;
    background-color:  #f3724a !important;
    border : 1px solid  #f3724a !important;
    padding : 1vw 2vw !important;
}
