.background {
    background-image: url("../img/women.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 80%;
    display: flex;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 20%;
}

.inputs {
    justify-content: center;
    margin-top: 10%;
}

.button {
    margin-top: 500%;
    margin-bottom: 30%;
}

.button2 {
    margin-bottom: 180%;
}

.row {
    display: flex;
    justify-content: center;
}