.background {
    background-image: url("../img/women.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 80%;
}

/* .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
} */

.inputs {
    justify-content: center;
    margin-top: 10%;
}

.button {
    margin-top: 10%;
    margin-bottom: 30%;
}