@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.banner{
  margin-top: 1rem;
  font-family: 'Lato';
}

.blueBanner {
  background-color: #004163;
  padding: 0.25rem;
}

.clock {
  width: 2rem;
}

.textBanner {
  color: white;
}

.listPills {
  margin-top: 1rem;
}

.score {
  margin-top: 1rem;
}

.quote {
  margin-top: 1rem;
  font-family: 'Lato';
  text-align: center;
}

.advice {
  margin-top: 1rem;
  font-family: 'Lato';
}

.adviceText {
  align-self: center;
}


.bulbImage {
  width: 3rem;
}
