.mymedidocCol {
  margin-top: 3vh;
}
.cardTitleMedidoc {
  font-size: 0.3rem;
  text-align: center;
  margin-top: 1vw;
}
.mymedidocCard:hover {
  cursor: pointer;
}
.mymedidocButton {
  background-color: #f3724a !important;
  border: none !important;
  height: 2vh;
  font-size: 0.6rem !important;
  width: 1vw;
  text-align: center !important;
  padding: 0 3vw 0 2vw !important;
}
