<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
=======
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
>>>>>>> d5ef7a9fbf1361bae9e19bfc1bad27d07b67533b

.navbar a:visited {
  color: #f3724a;
}
.navbar {
  background-color: white;
  color: #f3724a;
  font-family: "Lato";
  font-size: 1.2rem;
  width: 100vw;
  margin-top: 1rem;
}

.listItem {
  list-style: none;
}

.item {
  width: 2rem;
}

.logo {
  width: 2rem;
  margin-right: 0.4rem;
}
.medime {
  font-size: 0.7rem;
}

.title {
  color: #004163;
  font-weight: bold;
}
