@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.navbar {
  background-color: white;
  color: #F3724A;
  font-family: 'Lato';
  font-size: 1.2rem;
  width: 100vw;
  margin-top: 1rem;  

}

.listItem {
  list-style: none;
}

.item {
  width: 2rem;
}

.logo{
  width: 2rem;
  margin-right: 0.4rem;
}
